@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/kosarica-styles.css" />
    <title>Košarica</title>
</head>
<body>

    <header class="header">
        <div class="title-logo">
            <h1 class="title">MENSA</h1>
            <img class="header-logo" src="/assets/burger.png" alt="Logo" />
        </div>
        @if (signInManager.IsSignedIn(User))@*@User.Identity.Name triba dodat *@
        {
            <div class="user-wrapper">
                <div class="user-id">@User.Identity.Name</div>
                <div class="dropdown">
                    <img class="header-user"
                         src="/assets/user.png"
                         alt="User settings" />
                    <div class="dropdown-menu">
                        <div class="logout-wrap">
                            <img class="logout" src="assets/logout2.png" alt="Log out" />
                        </div>
                        <form method="post" asp-action="Logout" asp-controller="LogIn">
                            <button type="submit" style="width:auto" class="login-button">Odjavi se</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </header>
    <h2 class="naslov">PREGLED TVOJE KOŠARICE</h2>
    <div class="cart-container">
        <div id="table_id">
            <div class="table-header">
                <p class="table-naslovni_redak"><b>PROIZVOD</b></p>
                <p class="table-naslovni_redak"><b>CIJENA</b></p>
                <p class="table-naslovni_redak kolicina"><b>KOLIČINA</b></p>
            </div>
            <div id="table-body">
                @if (ViewBag.cart != null)
                {
                    foreach (var item in ViewBag.cart)
                    {
                        <div class="redak-tablice">
                            <p>@item.Menu.Name</p>
                            <p>@item.Menu.Price kn</p>
                            <p class="button-za-uvecavanje">
                                <button class="button_plus" onclick="smanjivanje()">-</button>
                                <input type="text" id="input" value="@item.Quantity" class="box">
                                <button class="button_plus" onclick="povecanje()">+</button>
                            </p>
                            <p>
                            </p>

                            <p>
                                <a asp-action="Remove" asp-route-id="@item.Menu.Id" class="button-1" id="ukloni">
                                    UKLONI
                                </a>
                            </p>
                        </div>
                    }
                }
                
            </div>
        </div>
        <div class="cart-container-bottom">
            <div class="ime-menze">
                <p>Menza: @Context.Session.GetString("currentMenzaName")</p>
            </div>
            <div class="cart-total">
                <label>Ukupni račun: @ViewBag.total kn </label>
                

            </div>
        </div>
    </div>
    <a asp-action="ConfirmOrder" class="button-2" type="button">ZAKLJUČI NARUDŽBU</a>

    <script src="/js/kosarica-scripts.js"></script>
    <script src="/js/select-menza-screen.js"></script>
</body>


</html>
